<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Contact Details CRUD</title>
	@Styles.Render("~/Content/css")	
	<script data-main="Scripts/main" src="~/Scripts/require-jquery.js"></script>	
</head>
<body>
	<div class="wrap">
		@RenderBody()
	</div>			
	<div id="push">
	</div>
	<div id="footer">
		<div class="container">
			<p class="muted credit">
				SPA implementation with Rest using WebAPI, BackboneJs, UnderScoreJs, RequireJs, SimpleData(ORM), 
				<a href="~/SpecRunner.html">Jasmine Test</a> & Twitter Bootstrap</p>
		</div>
	</div>
</body>
</html>
